page-stay {
	.wifi-toolbar {
		width: 100%;
		margin: 0px;
		padding-top::0;
		padding-bottom::0;
	}
	.card-toolbar {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		/*padding:0;*/
	}
	.class-avatar {
		display: none;
	}
}
